<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="MyTest">
        <classes>
            <class name="org.petstore.users.CreateUsersTest"/>
            <class name="org.petstore.users.UpdateUsersTest"/>
            <class name="org.petstore.users.GetUsersTest"/>
        </classes>
    </test>
</suite>
